# requirements.txt  – PINNs 最小セット
torch>=2.0.0
pandas>=1.5.0
numpy>=1.21.0
matplotlib>=3.5.0
tqdm           # 学習ループの進捗バーを出したいとき
jupyterlab     # Notebook ベースで試したいとき
pytz           # タイムゾーンの処理用
scikit-learn>=1.1.0
xarray>=2023.1.0
netCDF4>=1.6.0
